{% extends "base.html" %} 
{% block content %}
<h3>contact page</h3>
{% comment %} example include context from view {% endcomment %}
{% comment %} {% include "base/navbar.html" with brand_name=brand%} {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>{{ content }}</p>
            <div class="col-sm-6 col-12">
                <form method='POST'> {% csrf_token %} {{ form }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- <form method='POST'> {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Name" name='fullname'>
                    <input type="email" class="form-control" placeholder="Emai" name='email'>
                    <textarea name="content" class="form-control" placeholder="Your content"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
